<?xml version="1.0"?>
<launch>
    <node pkg="rqt_multiplot" type="rqt_multiplot" name="multiplot" output="screen" >
        <rosparam command="load" file="$(find homework_2)/config/rover_multiplot.xml" param="Configuration"/>
    </node>        

    <node name="robot_control" pkg="homework_2" type="robot_control_node.py" output="screen"/>
    <node name="rqt_plot" pkg="rqt_plot" type="rqt_plot" respawn="false" output="screen" args="/x /y /theta /error_theta /error_pos" />

    <node pkg="rqt_multiplot" type="rqt_multiplot" name="multiplot" output="screen" >
        <rosparam command="load" file="$(find homework_2)/config/rover_multiplot.xml" param="Configuration"/>
    </node> 



</launch>